h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  padding: 5px 5px 5px 5px;
}

.p,
div {
  padding: 15px;
  margin-right: 200px;
  margin-left: 200px;
}

.pages {
  text-align: center;
}

@media (max-width: 800px) {
  .P,
  div {
    margin-left: 20px;
    margin-right: 20px;
  }
}
